.body-home {
  background-color: black;
  width: auto;
}
.img-wall-flex {
  display: flex;
  justify-content: center;
}
.gif-home {
  height: 350px;
  margin-top: 30px;
}
.bloc-home-wall {
  border: 1px solid rgb(182, 0, 0);
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
  background-color: rgb(11, 11, 11);
}
.recon-title {
  float: left;
  font-size: 2.5em;
  font-family: "Share Tech Mono", monospace;
  color: whitesmoke;
  margin-bottom: 100px;
  margin-left: 25px;
  margin-top: 25px;
}
.subtitle-home {
  float: left;
  font-family: "Share Tech Mono", monospace;
  color: whitesmoke;
  font-size: 1.5rem;
  margin-bottom: 150px;
  margin-left: 25px;
}

.flex-home {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -100px;
}

.title-item-home {
  font-size: 2em;
  text-align: center;
  font-family: "Share Tech Mono", monospace;
  color: whitesmoke;
}
.flex-item-home {
  border: solid 1px rgb(94, 94, 94);
  margin: 70px 35px 35px;
  height: 350px;
  display: flex;
  justify-content: center;
  background-color: rgb(25, 25, 25);
}
.form-control {
  font-family: "Share Tech Mono", monospace;
}
.select-scan {
  color: whitesmoke;
}

@media (max-width: 750px) {
  .gif-home {
    width: 400px;
    height: 270px;
  }
}
