<section class="body-home">
  <div class="img-wall-flex">
    <img
      class="gif-home"
      src="../../assets/images/H4CKTOOLS-Wall.gif"
      alt="Gif kali linux"
    />
  </div>
  <div class="bloc-home-wall">
    <h1 class="recon-title">Reconnaissance</h1>
    <h2 class="subtitle-home">
      Find all the commands of the most popular hacking tools to work
      efficiently and faster.
    </h2>
  </div>
  <div class="flex-home">
    <div class="flex-item-home-nmap">
      <h2 class="title-item-home-nmap">Nmap Generator</h2>
      <form class="nmap-form">
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter the target Ip address"
          />
        </div>
        <div class="mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Enter the target port"
          />
        </div>
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <label for="scan-type" class="select-scan"
              >Select your scan :</label
            >
          </div>
          <select id="scan-nmap" name="scan-type">
            <option value="detect-service">Detect service</option>
            <option value="all-ports">All ports</option>
            <option value="top-ports">Top ports</option>
            <option value="file-scan">File scan</option>
            <option value="CVE-detection">CVE detection</option>
            <option value="tcp">TCP port</option>
            <option value="udp">UDP port</option>
            <option value="dos">DOS attack</option>
            <option value="brute-force-wp">Wordpress brute force</option>
            <option value="brute-force-sql">SQL brute force</option>
            <option value="brute-force-ftp">FTP brute force</option>
            <option value="malware-detection">Malware detection</option>
            <option value="google-detection">Google detection</option>
          </select>
        </div>
        <button type="submit" class="btn btn-secondary">Generate</button>
      </form>
      <div class="flex-item-nmap-response"></div>
    </div>

    <!-- Nikto -->
    <div class="bloc-home-wall-nikto">
      <div class="flex-item-home-nikto">
        <h4 class="title-item-home-nikto">Nikto Generator</h4>
        <form class="nikto-form">
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter the target Ip address"
            />
          </div>
          <div class="mb-3">
            <input
              type="text"
              class="form-control"
              placeholder="Enter the target port"
            />
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label for="scan-type" class="select-scan"
                >Select your scan :</label
              >
            </div>
            <select id="scan-nikto" name="scan-type">
              <option value="host-scan">Host scan</option>
              <option value="specific-port">Specific scan port</option>
              <option value="ssl-force">Force SSL</option>
              <option value="db-check">Check database</option>
              <option value="proxy-scan">Scan with proxy</option>
              <option value="skip-404">Skip http 404</option>
              <option value="stop-DNS">Stop DNS lookup</option>
              <option value="no-cache">Stop caching response</option>
            </select>
          </div>
          <button type="submit" class="btn btn-secondary">Generate</button>
        </form>
        <div class="flex-item-nikto-response"></div>
      </div>
      <div class="flex-commands-nikto">
        <div class="nikto-commands-no">
          <h3 class="title-tuning-nikto">Tuning Options</h3>
          <p class="subtitle-tuning">Nikto -h (Hostname) -tuning (Option)</p>
          <table class="table table-dark table-striped-columns">
            <tbody>
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tr>
                <th scope="row">0</th>
                <td>Upload files</td>
                <th scope="row">7</th>
                <td>Remote File Retrieval</td>
              </tr>
              <tr>
                <th scope="row">1</th>
                <td>View specific file in log</td>
                <th scope="row">8</th>
                <td>Command Execution remote shell</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Default file misconfiguration</td>
                <th scope="row">9</th>
                <td>SQL Injection</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>Display information disclosure</td>
                <th scope="row">a</th>
                <td>Authentication Bypass</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Injection</td>
                <th scope="row">b</th>
                <td>Software Identification</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>Remote File Retrieval</td>
                <th scope="row">c</th>
                <td>Remote Source Inclusion</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>Denial of service</td>
                <th scope="row">x</th>
                <td>Reverse Tuning Options</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- NetBIOS -->
    <div class="flex-item-home">
      <h4 class="title-item-home">NetBIOS</h4>
    </div>
    <div class="bloc-home-wall">
      <div class="flex-item-home">
        <h4 class="title-item-home">Enm4linux</h4>
      </div>
    </div>
    <div class="flex-item-home">
      <h5 class="title-item-home">Recon-ng</h5>
    </div>
    <div class="bloc-home-wall">
      <div class="flex-item-home">
        <h5 class="title-item-home">Wp scan Generator</h5>
      </div>
    </div>
    <div class="flex-item-home">
      <h5 class="title-item-home">SQLmap Generator</h5>
    </div>
    <div class="bloc-home-wall">
      <div class="flex-item-home">
        <h5 class="title-item-home">SQLninja Generator</h5>
      </div>
    </div>
  </div>
</section>
