<section class="body-home">
  <div class="img-wall-flex">
    <img
      class="gif-home"
      src="../../assets/images/H4CKTOOLS-Wall.gif"
      alt="Gif kali linux"
    />
  </div>
  <div class="bloc-home-wall">
    <h1 class="recon-title">Reconnaissance</h1>
    <h2 class="subtitle-home">
      Find all the commands of the most popular hacking tools to work
      efficiently and faster.
    </h2>
  </div>
  <div class="flex-home">
    <!-- Nmap component -->
    <app-nmap></app-nmap>

    <!-- Nikto component -->
    <app-nikto></app-nikto>

    <!-- NetBIOS -->
    <div class="flex-item-home">
      <h4 class="title-item-home">NetBIOS</h4>
    </div>
    <div class="bloc-home-wall">
      <div class="flex-item-home">
        <h4 class="title-item-home">Enm4linux</h4>
      </div>
    </div>
    <div class="flex-item-home">
      <h5 class="title-item-home">Recon-ng</h5>
    </div>
    <div class="bloc-home-wall">
      <div class="flex-item-home">
        <h5 class="title-item-home">Wp scan Generator</h5>
      </div>
    </div>
    <div class="flex-item-home">
      <h5 class="title-item-home">SQLmap Generator</h5>
    </div>
    <div class="bloc-home-wall">
      <div class="flex-item-home">
        <h5 class="title-item-home">SQLninja Generator</h5>
      </div>
    </div>
  </div>
</section>
