<nav
  class="navbar navbar-expand-lg bg-dark bg-body-tertiary"
  data-bs-theme="dark"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">H4CKTOOLS</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
      style="color: grey"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="app-reconnaissance"
            >Reconnaissance</a
          >
        </li>
        <li>
          <a class="nav-link" aria-current="page" href="#">Brute Force</a>
        </li>
        <li>
          <a class="nav-link" aria-current="page" href="#">Network</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reverse Shell</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Linux Command</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Windows Command</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wifi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Steganography</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
<footer>
  <div class="footer-content">
    <h3 class="footer-title">H4CKTOOLS</h3>
    <ul class="socials">
      <li>
        <a href="#"
          >Discord<br /><img
            src="../../assets/images/discord-icon-svgrepo-com.svg"
            alt="discord-logo"
        /></a>
      </li>
      <li>
        <a href="#"
          >Github<br /><img
            src="../../assets/images/github-color-svgrepo-com.svg"
            alt="github-logo"
        /></a>
      </li>
    </ul>
  </div>
</footer>
